@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bg-image {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
}

.container {
  background-color: rgba(245, 245, 245, 0.9);
  padding: 20px;
  border-radius: 6px;
}