@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Source Code Pro', monospace;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bg-image {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
}

.container {
  background-color: rgba(245, 245, 245, 0.9);
  padding: 20px;
  border-radius: 6px;
}

span ~ .btn {
  margin-left: 6px;
}

.btn {
  appearance: none;
  background: #FF5900;
  border-radius: 6px;
  color: white;
  border: none;
  padding: 5px 10px;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn--disabled {
  background-color: gray;
}

.question ~ .question .btn {
  display: inline-block;
  margin-top: 10px;
}

.btn--next {
  background: #0045AD;
  margin-top: 30px;
  width: 100%;
}

.btn--clicked.btn--correct {
  background: #009B48;
}

.btn--clicked.btn--wrong {
  background: #B90000;
}